<% provide(:title, 'About Us') %>
<style type="text/css">
	body{
        background: url('../assets/background2.png');
        background-size: cover;
        opacity: 0.4px;
        padding-top: 80px;
        padding-left: 20px;
        font-family: opensans;
        padding-bottom: 120px;
      }
    .uscont{
    	background-color: white;
    	width: 200px;
    	height: 400px;
    }
    #about1{
    	background-image: url("../assets/vic.png");
    	background-size: cover;
    	border-radius: 10px;
    	border-style: solid;
    	width: 100px;
    	height: 100px;
    	display: inline-block;
    	margin-left: 200px;
    	margin-top: 50px;

    }
    #about2{
    	background-image: url("../assets/nitya.png");
    	background-size: cover;
    	border-radius: 10px;
    	border-style: solid;
    	width: 100px;
    	height: 100px;
    	display: inline-block;
    	margin-left: 120px;
    	margin-top: 50px;

    }
    #about3{
    	background-image: url("../assets/anubhav.png");
    	background-size: cover;
    	border-radius: 10px;
    	border-style: solid;
    	width: 100px;
    	height: 100px;
    	display: inline-block;
    	margin-left: 120px;
    	margin-top: 50px;

    }
    #abouttext1{
    	border-radius: 5px;
    	padding-top: 10px;
    	width: 100px;
    	height: 100px;
    	display: inline-block;
    	margin-left: 120px;
    	text-align: center;
    	line-height: 13px;
    	padding-left: 80px;

    }
    .abouttext{
    	border-radius: 5px;
    	padding-top: 10px;
    	width: 100px;
    	height: 100px;
    	display: inline-block;
    	margin-left: 130px;
    	text-align: center;
    	line-height: 13px;

    }
    img{
    	max-width: 100%;
    	max-height: 100%;
    }

</style>

<h1 >About onBoard</h1>
<div id="uscont">
	<div id ="about1">	
	</div>
	<div id ="about2">
	</div>
	<div id ="about3">
	</div>
</div>
<div>
	<div id = "abouttext1"><p><span style="font-size: 18px">Victoria <br/>Li</span></p><br/> <p>Token frat boy awwwwwwyeh </p></div>
	<div class = "abouttext"><p><span style="font-size: 18px">Nitya Subramanian</span></p> <br/><p>I'm a badass motherf*cker </p></div>
	<div class = "abouttext"><p><span style="font-size: 18px">Anubhav Jain</span></p> <br/><p>Noob frosh with a noob photo</p></div>
</div>


