  <head>

       <script >
  $(function() {
    $( "#tabs" ).tabs();
  });
  $(function() {
    $( "#radio" ).buttonset().find('label').width(60);
  });

  $(function() {
    $( "#radiosize" ).buttonset().find('label').width(60);
  });
  $(function() {
    $( "#radioage" ).buttonset().find('label').width(60);
  });
  $(function() {
    $( "#radioact" ).buttonset().find('label').width(60);
  });
  $(function() {
    $( "#radiotour" ).buttonset().find('label').width(60);
  });  
  $(function() {
    $("#sortable").sortable({
    start: function(event, ui) {
       var init = ui.item.index();
    }
});
    $("#sortable").sortable({
    stop: function(event, ui) {
        var fin = ui.item.index();
    }
});
    $( "#sortable" ).disableSelection();
  });
    $(function() {
    $("#sortable2").sortable({
    start: function(event, ui) {
       var init = ui.item.index();
    }
});
    $("#sortable2").sortable({
    stop: function(event, ui) {
        var fin = ui.item.index();
    }
});
    $( "#sortable2" ).disableSelection();
  });
      $(function() {
    $("#sortable3").sortable({
    start: function(event, ui) {
       var init = ui.item.index();
    }
});
    $("#sortable3").sortable({
    stop: function(event, ui) {
        var fin = ui.item.index();
    }
});
    $( "#sortable3" ).disableSelection();
  });
    $(function() {
    $("#sortable4").sortable({
    start: function(event, ui) {
       var init = ui.item.index();
    }
});
    $("#sortable4").sortable({
    stop: function(event, ui) {
        var fin = ui.item.index();
    }
});
    $( "#sortable4" ).disableSelection();
  });
      $(function() {
    $("#sortable5").sortable({
    start: function(event, ui) {
       var init = ui.item.index();
    }
});
    $("#sortable5").sortable({
    stop: function(event, ui) {
        var fin = ui.item.index();
    }
});
    $( "#sortable5" ).disableSelection();
  });
  function divScroll(){
    var Top = document.getElementById('timecolumn');
    var Bot = document.getElementById('tabcont');
    Top.scrollLeft = Bot.scrollLeft;
  }

  $(function() {
    $( "#sortable" ).sortable({placeholder: "ui-state-highlight"});
    $( "#sortable" ).disableSelection();
  });

  </script>
    <style>
      body{
        background: url('../assets/sand.png');
        background-size: cover;
        padding-top: 80px;
        font-family: opensans;
        z-index: 100;
      }

      #timecolumn{
        background-color: #E1EEF4;
        opacity: 0.85;
        width: 40px;
        height: 640px;
        padding: 10px;
        margin-left: -40px;
        overflow:scroll;
        display: inline;
        float: left;
        border-radius: 10px;

      }
      #delete{
        visibility: hidden;
        display: none;
      }
      #itinerarycontainer{
        background-color: #E1EEF4;
        opacity: 0.85;
        width: 550px;
        height: 640px;
        padding:10px;
        margin-left: 20px;
        display: inline;
        float: left;

        
        /*background-color: #F2F1D6;*/
        border-radius: 10px;
       /* padding: 20px 20px 20px 20px;*/
      }
      #togglecontainer{
        background-color: #E1EEF4;
        opacity: 0.85;
        width: 320px;
        height: 340px;
        display: inline;
        margin-left: 20px;
        float: left;
        margin-right: -200px;
        border-radius: 10px;
        padding: 10px 15px 15px 35px;
      }
      .rowcont{
        width: 280px;

        display: inline;
        float: left;
      }
      .cont{
        float: left;
        display: inline;
        margin-left: 100px;
        color: #c77405;
        margin-top: 10px;
      }
      #infocontainer{
        background-color: #E1EEF4;
        opacity: 0.85;
        width: 350px;
        height: 250px;
        display: inline;
        margin-right: -20px;
        margin-top: 60px;
        float: right; 
        border-radius: 10px;
        padding: 10px 10px 10px 10px;
        overflow: hidden;
      }
      .span{
        display: inline;
        width: 350px;
        height: 35px;
      }
      .label{
        width: 100px;
        height: 35px;  
      }
      .entry{
        font-family: opensans;
      }
      
      .itheading{
        font-family: opensans;
        text-align: center;
        font-size: 26px;
        margin-left: -40px;
        padding-top: 10px;
        margin-bottom: -50px;
      }
      #toggleelement{
        display:inline;
        height: 35px;
      }

      #rightsec{
        width: 320px;
        display: inline;
      }
      #radio, #radiosize, #radioage, #radioact, #radiotour{
        width: 300px;
        height: 35px;  
        display: inline;
        vertical-align:center;
        padding:0;
        margin:0;
        //position:relative;
        //overflow:hidden;
      }

      #title{
        float:left; 
        text-align: left;
        vertical-align: center;
        padding: 2px;
        display: inline;
        margin-right: 20px;
        clear: both;
        
      }
       #dayo{
        float:left; 
        text-align: left;
        vertical-align: center;

        clear: both;
        
      }
      #input{
        float: right;
        margin-left: 20px;
        display: inline;
        margin-right: 20px;
        
      }
      #tabs{
        height:630px;

      }
      .tabcont{
        height: 550px;
        overflow:scroll;
        padding: 20px;

      }
      #timecell{
        font-family: opensans;
        padding: 5px;
        height: 45px;
        text-align: center;
        font-size: 14px;
        padding-top: 60px;
        margin-bottom: 2px;
      }
      .timecell{
        font-family: opensans;
        padding: 5px;
        height: 45px;
        text-align: center;
        font-size: 14px;
         margin-bottom: 2px;

      }
      .ui-state-default-act1{
        width: 460px;
        height: 60px;
        font-family: opensans;
        border-style: solid;
        border-width: 2px;
        border-bottom-width: 1px;
        border-top-width: 1px;
        border-color: #BACCD8;
        border-radius: 6px;
        padding: 10px;
        background-color: #E8E6E3;
        opacity: 0.9;
        margin-bottom: 10px;
      }
      .ui-state-default-act2{
        width: 460px;
        height: 120px;
        font-family: opensans;
        border-style: solid;
        border-width: 2px;
        border-bottom-width: 1px;
        border-top-width: 1px;
        border-color: #BACCD8;
        border-radius: 6px;
        padding: 10px;
        background-color: #E8E6E3;
        opacity: 0.9;
        margin-bottom: 10px;
      }
      .ui-state-default-act3{
        width: 460px;
        height: 180px;
        font-family: opensans;
        border-style: solid;
        border-width: 2px;
        border-bottom-width: 1px;
        border-top-width: 1px;
        border-color: #BACCD8;
        border-radius: 6px;
        padding: 10px;
        background-color: #E8E6E3;
        opacity: 0.9;
        margin-bottom: 10px;
      }
      .ui-state-default-act4{
        width: 460px;
        height: 240px;
        font-family: opensans;
        border-style: solid;
        border-width: 2px;
        border-bottom-width: 1px;
        border-top-width: 1px;
        border-color: #BACCD8;
        border-radius: 6px;
        padding: 10px;
        background-color: #E8E6E3;
        opacity: 0.9;
        margin-bottom: 10px;
      }
      .ui-state-default-act1 h3 {
        font-size: 18px;
        color: #EE7600;
        font-family: opensans;
      }
      .ui-state-default-act2 h3 {
        font-size: 18px;
        color: #EE7600;
        font-family: opensans;
      }.ui-state-default-act3 h3 {
        font-size: 18px;
        color: #EE7600;
        font-family: opensans;
      }.ui-state-default-act4 h3 {
        font-size: 18px;
        color: #EE7600;

      }

      .ui-state-default-act1 p{
        font-family: opensans;
        font-size: 12px;
        text-align: justify;
      }
      .ui-state-default-act2 p{
        font-family: opensans;
        font-size: 12px;
        text-align: justify;
      }
      .ui-state-default-act3 p{
        font-family: opensans;
        font-size: 12px;
        text-align: justify;
      }
      .ui-state-default-act4 p{
        font-family: opensans;
        font-size: 12px;
        text-align: justify;
      }

      .cont .ui-button{
        border-radius: 6px;
        font-family: opensans;
        background-color: white;
        opacity: 0.75;
        color: #c77405;
      }
      #changebut{
        display: inline;
        height: 10px;
        border-radius: 5px;
        margin-top: 200px;
        color: black;

      }

      .name{
        display: inline;
        margin-right: 20px;
      }
      .budgetsymbol{
        float: left;
   
      }
      #add_tab{
        float: right;
        display:inline;
        margin-right: 20px;
        margin-top: 10px;
        height: 30px;
        width: 30px;
        border-radius: 3px;
        font-size: 26px;
        background-color: white;
        border-width:0px;

      }
      #cityselect{
        width: 150px;
        height: 45px;
        display: inline-block;
        float:left;
        margin-top: 40px;
        margin-left: 70px;
        margin-bottom: 20px;

      }
      #cityselect{
        width: 150px;
        display: inline-block;
        float:left;


      }
      .wrapper-dropdown-3 {
    /* Size and position */
    position: relative;
    width: 300px;
    height: 50px;
    margin: 0 auto;
    padding: 10px;
    margin-left: 50px;
    opacity: 0.85;
    float: left;
 
    /* Styles */
    background: #fff;
    border-radius: 7px;
    border: 1px solid rgba(0,0,0,0.15);
    box-shadow: 0 1px 1px rgba(50,50,50,0.1);
    cursor: pointer;
    outline: none;
 
    /* Font settings */

    font-family: opensans;
    text-align: center;
    font-size: 18px;
    color: #8AA8BD;
}

      #sortable { list-style-type: none; margin: 0; padding: 0; width: 60%; }
      #sortable li { margin: 0 3px 3px 3px; padding: 5em; padding-left: 1.5em; font-size: 1.4em; height: 30px; }
      #sortable li span { position: absolute; margin-left: -1.3em; }

      #sortable2 { list-style-type: none; margin: 0; padding: 0; width: 60%; }
      #sortable2 li { margin: 0 3px 3px 3px; padding: 5em; padding-left: 1.5em; font-size: 1.4em; height: 30px; }
      #sortable2 li span { position: absolute; margin-left: -1.3em; }

      #sortable3 { list-style-type: none; margin: 0; padding: 0; width: 60%; }
      #sortable3 li { margin: 0 3px 3px 3px; padding: 5em; padding-left: 1.5em; font-size: 1.4em; height: 30px; }
      #sortable3 li span { position: absolute; margin-left: -1.3em; }

      #sortable4 { list-style-type: none; margin: 0; padding: 0; width: 60%; }
      #sortable4 li { margin: 0 3px 3px 3px; padding: 5em; padding-left: 1.5em; font-size: 1.4em; height: 30px; }
      #sortable4 li span { position: absolute; margin-left: -1.3em; }

      #sortable5 { list-style-type: none; margin: 0; padding: 0; width: 60%; }
      #sortable5 li { margin: 0 3px 3px 3px; padding: 5em; padding-left: 1.5em; font-size: 1.4em; height: 30px; }
      #sortable5 li span { position: absolute; margin-left: -1.3em; }

      #tab2{
        
      }
      #tab3{
      }
      #tab4{
      }
      #tab5{
      }


/*      .overlay {
   position: absolute;
   top: 100;
   z-index: 5000;
   left: 100;
   max-width: 600px;
}*/
    </style>

    <script type="text/javascript">




      var str = "hi";
      function showValues() {
     //    var valuesToSubmit = $("form").serialize();
     //  $.ajax({
     //    url: default, //sumbits it to the given url of the form
     //    data: valuesToSubmit,
     //    dataType: "JSON" // you want a difference between normal and ajax-calls, and json is standard
     //  }).success(function(json){
     //    alert("yayy");
     //  });
     // return false
         var str = $("form").serialize();
         var strarry = str.split(/[&=]/);
         var numberdays = strarry[3];
         $.ajax({
          url: '/test',
          data: str,
          type:'GET',
          // beforeSend: function(){
          //   $('#loading').show();
          // },

          // complete: function(){
          //   $('#loading').hide();
          // },
          success: function(data){
            // if (numberdays == 'd1'){
               
            // }
            // if (numberdays == 'd2'){
            //    $("#sortable2").html(data);
            // }
            // if (numberdays == 'd3'){
            //    $("#sortable3").html(data);
            // }
            // if (numberdays == 'd4'){
            //    $("#sortable4").html(data);
            // }
            // if (numberdays == 'd5'){
            //    $("#sortable5").html(data);
            // }

           $(".tabcont").html(data);
          }
          })
      };

      $(function(){
        $('.tabcont').scroll(function(){
          $('#timecolumn').scrollTop($(this).scrollTop());
        });
      });

    
    </script>
  <br/>
  <br/>
<!-- <div class = "overlay"><img src="../assets/overlay.png"/></div> -->
  <body>
    <div id = "body">
          <div id ="timecolumn">
      <div id="timecell">   9:00</div>
      <div class="timecell"> 10:00</div>
      <div class="timecell"> 11:00</div>
      <div class="timecell"> 12:00</div>
      <div class="timecell">  1:00</div>
      <div class="timecell"> 2:00</div>
      <div class="timecell"> 3:00</div>
      <div class="timecell"> 4:00</div>
      <div class="timecell"> 5:00</div>
      <div class="timecell"> 6:00</div>
      <div class="timecell"> 7:00</div>
      <div class="timecell"> 8:00</div>
      <div class="timecell"> 9:00</div>
      <div class="timecell"> 10:00</div>
      <div class="timecell"> 11:00</div>
    </div>

    <div id ="itinerarycontainer">
      <div class= "tabcont">

      </div>     
    </div>


    <div id = "rightsec">
      <div id= "togglecontainer">
        <div>
          <form name ="toggleform">
        <h2 class = "itheading">destination:</h2></div>
        <p><select name='city' onchange = "showValues()" id = "cityselect" class = "wrapper-dropdown-3">
<!--           <option> Please select... </option> -->
          <option value= "boston"><a> Boston </a></option>
          <option value= "newyork"><a> New York City </a></option>
          <option value="sanfran"><a> San Francisco </a></option>
        </select></p>

      </form>
      <form name ="toggleform">

      </form>
        <div class="form_row">
          <form name = "toggleform">   
          <br/>   
          <br/> 
          <br/> 
          <br/> 
          <br/> 
            <div id="radio" name = "budgettog" onchange = "showValues()">
              <div id="title">
                <label>Budget</label> 
              </div>  
              <div id="input">  
                <input type="radio" id="radio1" value = "b1" name="budget" onclick ="showValues()" /><label for="radio1">$</label>
                <input type="radio" id="radio2" value = "b2" name="budget" onclick ="showValues()"/><label for="radio2">$$</label>
                <input type="radio" id="radio3" value = "b3" name="budget" onclick ="showValues()"/><label for="radio3">$$$</label> 
              </div>          
            </div>
      <br />
        <div id="radiosize" name = "sizetog">
          <div id="title">
            <label>Size</label>
          </div>
          <!-- 웃 -->
          <div id="input">
            <input type="radio" id="radio4" value = "g1" name="size" onclick ="showValues()"/><label for="radio4">1</label>
            <input type="radio" id="radio5" value = "g2" name="size" onclick ="showValues()" /><label for="radio5">2</label>
            <input type="radio" id="radio6" value = "g3" name="size" onclick ="showValues()"/><label for="radio6">3+</label>
          </div>
        </div>
      <br />
        <div id="radioage" name = "agetog">
          <div id="title">
            <label>Age</label>
          </div>
          <div id="input">
          <input type="radio" id="radio7" value = "a1" name="age" onclick ="showValues()"/><label for="radio7"><30</label>
          <input type="radio" id="radio8" value = "a2" name="age" onclick ="showValues()"  /><label for="radio8"><50</label>
          <input type="radio" id="radio9" value = "a3" name="age" onclick ="showValues()"/><label for="radio9">50+</label>
        </div>

      </div>
      <br />

        <div id="radioact" name = "acttog">
          <div id="title">
            <label>Activity Level</label>
          </div>
          <div id="input">
          <input type="radio" id="radio10" value = "l1" name="activity" onclick ="showValues()"/><label for="radio10">L</label>
          <input type="radio" id="radio11" value = "l2" name="activity" onclick ="showValues()"  /><label for="radio11">M</label>
          <input type="radio" id="radio12" value = "l3" name="activity" onclick ="showValues()"/><label for="radio12">H</label>
        </div>
        </div>

      <br />

        <div id="radiotour" name = "tourtog">
          <div id="title">
          <label>Touristiness</label>
        </div>
        <div id="input">
          <input type="radio" id="radio13" value = "t1" name="tourist" onclick ="showValues()"/><label for="radio13">L</label>
          <input type="radio" id="radio14" value = "t2" name="tourist" onclick ="showValues()" /><label for="radio14">M</label>
          <input type="radio" id="radio15" value = "t3" name="tourist" onclick ="showValues()"/><label for="radio15">H</label>
        </div>
        </div>
      </form>
      </div>
    <div id= "infocontainer" ondblclick= "clicked()">
    </div>
  </div>
</div>
    </div>
  </body>

